### Importación de datos

In [27]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [3]:
# Calcular el ingreso total para cada tienda
ingreso_total_tienda1 = tienda['Precio'].sum()
ingreso_total_tienda2 = tienda2['Precio'].sum()
ingreso_total_tienda3 = tienda3['Precio'].sum()
ingreso_total_tienda4 = tienda4['Precio'].sum()

# Mostrar los resultados
print(f"Ingreso total Tienda 1: ${ingreso_total_tienda1:.2f}")
print(f"Ingreso total Tienda 2: ${ingreso_total_tienda2:.2f}")
print(f"Ingreso total Tienda 3: ${ingreso_total_tienda3:.2f}")
print(f"Ingreso total Tienda 4: ${ingreso_total_tienda4:.2f}")

Ingreso total Tienda 1: $1150880400.00
Ingreso total Tienda 2: $1116343500.00
Ingreso total Tienda 3: $1098019600.00
Ingreso total Tienda 4: $1038375700.00

In [4]:
#utilizando una función
def calcular_ingreso_total(dataframe):
    """
    Calcula el ingreso total sumando los valores de la columna 'Precio' en un DataFrame.

    Parámetros:
        dataframe (pd.DataFrame): El DataFrame que contiene la columna 'Precio'.

    Retorna:
        float: El ingreso total calculado.
    """
    if 'Precio' not in dataframe.columns:
        raise ValueError("El DataFrame no contiene la columna 'Precio'.")
    return dataframe['Precio'].sum()

# Calcular el ingreso total para cada tienda
ingreso_total_tienda1 = calcular_ingreso_total(tienda)
ingreso_total_tienda2 = calcular_ingreso_total(tienda2)
ingreso_total_tienda3 = calcular_ingreso_total(tienda3)
ingreso_total_tienda4 = calcular_ingreso_total(tienda4)

# Mostrar los resultados
print(f"Ingreso total Tienda 1: ${ingreso_total_tienda1:.2f}")
print(f"Ingreso total Tienda 2: ${ingreso_total_tienda2:.2f}")
print(f"Ingreso total Tienda 3: ${ingreso_total_tienda3:.2f}")
print(f"Ingreso total Tienda 4: ${ingreso_total_tienda4:.2f}")

Ingreso total Tienda 1: $1150880400.00
Ingreso total Tienda 2: $1116343500.00
Ingreso total Tienda 3: $1098019600.00
Ingreso total Tienda 4: $1038375700.00

In [30]:
#utilizando Python estándar
import csv
import urllib.request

# Función para calcular el ingreso total de una tienda
def calcular_ingreso_total(url):
    ingreso_total = 0
    with urllib.request.urlopen(url) as response:
        lines = [line.decode('utf-8') for line in response]
        reader = csv.DictReader(lines)
        for row in reader:
            # Convertir el precio a float y sumarlo al ingreso total
            precio = float(row['Precio'])
            ingreso_total += precio
    return ingreso_total

# URLs de las tiendas
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv ",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv ",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv ",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv "
]

# Calcular el ingreso total para cada tienda
ingresos_totales = []
for i, url in enumerate(urls, start=1):
    ingreso_total = calcular_ingreso_total(url)
    ingresos_totales.append(ingreso_total)
    print(f"Ingreso total de la Tienda {i}: ${ingreso_total:.2f}")

# Resultado final
print("\nResumen de ingresos totales:")
for i, ingreso in enumerate(ingresos_totales, start=1):
    print(f"Tienda {i}: ${ingreso:.2f}")

Ingreso total de la Tienda 1: $1150880400.00
Ingreso total de la Tienda 2: $1116343500.00
Ingreso total de la Tienda 3: $1098019600.00
Ingreso total de la Tienda 4: $1038375700.00

Resumen de ingresos totales:
Tienda 1: $1150880400.00
Tienda 2: $1116343500.00
Tienda 3: $1098019600.00
Tienda 4: $1038375700.00

# 2. Ventas por categoría

In [5]:
# Agregar columna Tienda
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Combinar datos
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Contar productos vendidos por categoría en cada tienda
productos_por_categoria = datos_combinados.groupby(['Tienda', 'Categoría del Producto']).size().reset_index(name='Cantidad Vendida')

# Encontrar las categorías más populares por tienda
categorias_populares = productos_por_categoria.loc[productos_por_categoria.groupby('Tienda')['Cantidad Vendida'].idxmax()]

# Mostrar resultados
print("Categorías más populares por tienda:")
print(categorias_populares)

print("\nResumen de productos vendidos por categoría en cada tienda:")
print(productos_por_categoria)

Categorías más populares por tienda:
      Tienda Categoría del Producto  Cantidad Vendida
7   Tienda 1                Muebles               465
15  Tienda 2                Muebles               442
23  Tienda 3                Muebles               499
31  Tienda 4                Muebles               480

Resumen de productos vendidos por categoría en cada tienda:
      Tienda   Categoría del Producto  Cantidad Vendida
0   Tienda 1  Artículos para el hogar               171
1   Tienda 1     Deportes y diversión               284
2   Tienda 1        Electrodomésticos               312
3   Tienda 1             Electrónicos               448
4   Tienda 1   Instrumentos musicales               182
5   Tienda 1                 Juguetes               324
6   Tienda 1                   Libros               173
7   Tienda 1                  Muebles               465
8   Tienda 2  Artículos para el hogar               181
9   Tienda 2     Deportes y diversión               275
10  Tienda 2        Electrodomésticos               305
11  Tienda 2             Electrónicos               422
12  Tienda 2   Instrumentos musicales               224
13  Tienda 2                 Juguetes               313
14  Tienda 2                   Libros               197
15  Tienda 2                  Muebles               442
16  Tienda 3  Artículos para el hogar               177
17  Tienda 3     Deportes y diversión               277
18  Tienda 3        Electrodomésticos               278
19  Tienda 3             Electrónicos               451
20  Tienda 3   Instrumentos musicales               177
21  Tienda 3                 Juguetes               315
22  Tienda 3                   Libros               185
23  Tienda 3                  Muebles               499
24  Tienda 4  Artículos para el hogar               201
25  Tienda 4     Deportes y diversión               277
26  Tienda 4        Electrodomésticos               254
27  Tienda 4             Electrónicos               451
28  Tienda 4   Instrumentos musicales               170
29  Tienda 4                 Juguetes               338
30  Tienda 4                   Libros               187
31  Tienda 4                  Muebles               480

In [29]:
#utilizando funciones
def contar_productos_por_categoria(datos):
    """
    Agrupa los datos por 'Tienda' y 'Categoría del Producto', y cuenta el número de productos vendidos utilizando .size().
    Retorna un DataFrame con las categorías y sus cantidades vendidas.
    """
    return datos.groupby(['Tienda', 'Categoría del Producto']).size().reset_index(name='Cantidad Vendida')

def encontrar_categorias_populares(productos_por_categoria):
    """
    Encuentra la categoría más popular (con mayor cantidad de ventas) para cada tienda.
    Retorna un DataFrame con las categorías más populares por tienda.
    """
    return productos_por_categoria.loc[productos_por_categoria.groupby('Tienda')['Cantidad Vendida'].idxmax()]


# Agregar columna Tienda
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Combinar todos los datos en un solo DataFrame
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Contar productos vendidos por categoría
productos_por_categoria = contar_productos_por_categoria(datos_combinados)

# Encontrar las categorías más populares
categorias_populares = encontrar_categorias_populares(productos_por_categoria)

# Mostrar resultados
print("Categorías más populares por tienda:")
print(categorias_populares)

print("\nResumen de productos vendidos por categoría en cada tienda:")
print(productos_por_categoria)

Categorías más populares por tienda:
      Tienda Categoría del Producto  Cantidad Vendida
7   Tienda 1                Muebles               465
15  Tienda 2                Muebles               442
23  Tienda 3                Muebles               499
31  Tienda 4                Muebles               480

Resumen de productos vendidos por categoría en cada tienda:
      Tienda   Categoría del Producto  Cantidad Vendida
0   Tienda 1  Artículos para el hogar               171
1   Tienda 1     Deportes y diversión               284
2   Tienda 1        Electrodomésticos               312
3   Tienda 1             Electrónicos               448
4   Tienda 1   Instrumentos musicales               182
5   Tienda 1                 Juguetes               324
6   Tienda 1                   Libros               173
7   Tienda 1                  Muebles               465
8   Tienda 2  Artículos para el hogar               181
9   Tienda 2     Deportes y diversión               275
10  Tienda 2        Electrodomésticos               305
11  Tienda 2             Electrónicos               422
12  Tienda 2   Instrumentos musicales               224
13  Tienda 2                 Juguetes               313
14  Tienda 2                   Libros               197
15  Tienda 2                  Muebles               442
16  Tienda 3  Artículos para el hogar               177
17  Tienda 3     Deportes y diversión               277
18  Tienda 3        Electrodomésticos               278
19  Tienda 3             Electrónicos               451
20  Tienda 3   Instrumentos musicales               177
21  Tienda 3                 Juguetes               315
22  Tienda 3                   Libros               185
23  Tienda 3                  Muebles               499
24  Tienda 4  Artículos para el hogar               201
25  Tienda 4     Deportes y diversión               277
26  Tienda 4        Electrodomésticos               254
27  Tienda 4             Electrónicos               451
28  Tienda 4   Instrumentos musicales               170
29  Tienda 4                 Juguetes               338
30  Tienda 4                   Libros               187
31  Tienda 4                  Muebles               480

In [31]:
#utilizando Python estándar
import csv
import requests

# Función para descargar y leer un archivo CSV desde una URL
def cargar_datos(url):
    """
    Descarga un archivo CSV desde una URL y lo convierte en una lista de diccionarios.
    """
    try:
        response = requests.get(url)
        response.raise_for_status()  # Lanza un error si la solicitud falla
        lines = response.text.splitlines()
        reader = csv.DictReader(lines)
        datos = list(reader)
        print(f"Datos cargados exitosamente desde {url}")
        return datos
    except Exception as e:
        print(f"Error al cargar datos desde {url}: {e}")
        return []

# Función para contar productos vendidos por categoría
def contar_productos_por_categoria(datos):
    """
    Recibe una lista de datos (diccionarios) y cuenta los productos vendidos por categoría.
    Retorna un diccionario con las categorías como claves y los conteos como valores.
    """
    conteo_categorias = {}
    for fila in datos:
        if "Categoría del Producto" not in fila:
            print("La columna 'Categoría del Producto' no está presente en los datos.")
            return {}
        categoria = fila["Categoría del Producto"]
        if categoria not in conteo_categorias:
            conteo_categorias[categoria] = 0
        conteo_categorias[categoria] += 1
    return conteo_categorias

# Función para mostrar los resultados
def mostrar_resultados(resultados):
    """
    Recibe un diccionario con los resultados de las tiendas y muestra los conteos de productos por categoría.
    """
    for tienda, conteo in resultados.items():
        print(f"\n{tienda}:")
        if not conteo:  # Si el conteo está vacío
            print("  - No se encontraron datos de ventas.")
        else:
            for categoria, cantidad in conteo.items():
                print(f"  - {categoria}: {cantidad} productos vendidos")

# Función principal
def main():
    # URLs de los archivos CSV
    urls = [
        "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv ",
        "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv ",
        "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv ",
        "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv "
    ]

    # Procesar los datos de todas las tiendas
    resultados = {}
    for i, url in enumerate(urls, start=1):
        nombre_tienda = f"Tienda {i}"
        datos_tienda = cargar_datos(url)
        if not datos_tienda:  # Si los datos están vacíos, saltar esta tienda
            print(f"No se pudo cargar datos para {nombre_tienda}.")
            continue
        conteo_categorias = contar_productos_por_categoria(datos_tienda)
        resultados[nombre_tienda] = conteo_categorias

    # Mostrar los resultados
    mostrar_resultados(resultados)

# Ejecutar el programa
if __name__ == "__main__":
    main()

Error al cargar datos desde https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv : 404 Client Error: Not Found for url: https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv%20
No se pudo cargar datos para Tienda 1.
Error al cargar datos desde https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv : 404 Client Error: Not Found for url: https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv%20
No se pudo cargar datos para Tienda 2.
Error al cargar datos desde https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv : 404 Client Error: Not Found for url: https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv%20
No se pudo cargar datos para Tienda 3.
Error al cargar datos desde https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv : 404 Client Error: Not Found for url: https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv%20
No se pudo cargar datos para Tienda 4.

# 3. Calificación promedio de la tienda

In [10]:
# Agregar una columna 'Tienda' a cada DataFrame
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Concatenar todos los DataFrames
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Calcular la calificación promedio por tienda
calificacion_promedio_por_tienda = datos_combinados.groupby('Tienda')['Calificación'].mean().round(2).reset_index()
calificacion_promedio_por_tienda.columns = ['Tienda', 'Calificación Promedio']

# Mostrar los resultados
print(calificacion_promedio_por_tienda)

     Tienda  Calificación Promedio
0  Tienda 1                   3.98
1  Tienda 2                   4.04
2  Tienda 3                   4.05
3  Tienda 4                   4.00

In [12]:
#utilizando funciones

# Función para calcular el promedio de calificaciones por tienda
def calcular_promedio_calificacion(datos):
    """
    Calcula el promedio de calificaciones por tienda y redondea a dos decimales.

    Parámetros:
    - datos: DataFrame que contiene los datos combinados de todas las tiendas.

    Retorna:
    - DataFrame con las columnas 'Tienda' y 'Calificación Promedio'.
    """
    # Calcular el promedio de calificaciones por tienda
    promedio_por_tienda = (
        datos.groupby('Tienda')['Calificación']
        .mean()
        .round(2)  # Redondear a dos decimales
        .reset_index()
    )
    promedio_por_tienda.columns = ['Tienda', 'Calificación Promedio']
    return promedio_por_tienda


# Agregar una columna 'Tienda' a cada DataFrame
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Concatenar todos los DataFrames
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Usar la función para calcular el promedio de calificaciones
calificacion_promedio_por_tienda = calcular_promedio_calificacion(datos_combinados)

# Mostrar los resultados
print(calificacion_promedio_por_tienda)

     Tienda  Calificación Promedio
0  Tienda 1                   3.98
1  Tienda 2                   4.04
2  Tienda 3                   4.05
3  Tienda 4                   4.00

# 4. Productos más y menos vendidos

In [16]:
# Agregar una columna para identificar la tienda
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Combinar todos los datos en un solo DataFrame
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Agrupar por tienda y producto para contar las ventas
ventas_por_tienda_producto = datos_combinados.groupby(['Tienda', 'Producto']).size().reset_index(name='Ventas')

# Identificar los productos más y menos vendidos por tienda
productos_mas_vendidos = ventas_por_tienda_producto.loc[ventas_por_tienda_producto.groupby('Tienda')['Ventas'].idxmax()]
productos_menos_vendidos = ventas_por_tienda_producto.loc[ventas_por_tienda_producto.groupby('Tienda')['Ventas'].idxmin()]

# Mostrar los resultados
print("Productos más vendidos por tienda:")
print(productos_mas_vendidos)

print("\nProductos menos vendidos por tienda:")
print(productos_menos_vendidos)

Productos más vendidos por tienda:
       Tienda                   Producto  Ventas
1    Tienda 1                    Armario      60
75   Tienda 2  Iniciando en programación      65
129  Tienda 3              Kit de bancas      57
163  Tienda 4                   Cama box      62

Productos menos vendidos por tienda:
       Tienda                   Producto  Ventas
4    Tienda 1  Auriculares con micrófono      33
77   Tienda 2              Juego de mesa      32
111  Tienda 3    Bloques de construcción      35
175  Tienda 4         Guitarra eléctrica      33

In [19]:
#utilizando funciones

def calcular_mas_y_menos_vendidos(datos_combinados):
    """
    Calcula los productos más y menos vendidos por tienda.

    Parámetros:
    - datos_combinados (pd.DataFrame): Un DataFrame que contiene los datos combinados de todas las tiendas,
      con una columna 'Tienda' que identifica la tienda y una columna 'Producto' que identifica el producto.

    Retorna:
    - productos_mas_vendidos (pd.DataFrame): DataFrame con los productos más vendidos por tienda.
    - productos_menos_vendidos (pd.DataFrame): DataFrame con los productos menos vendidos por tienda.
    """
    # Agrupar por tienda y producto para contar las ventas
    ventas_por_tienda_producto = datos_combinados.groupby(['Tienda', 'Producto']).size().reset_index(name='Ventas')

    # Identificar los productos más vendidos por tienda
    productos_mas_vendidos = ventas_por_tienda_producto.loc[
        ventas_por_tienda_producto.groupby('Tienda')['Ventas'].idxmax()
    ].reset_index(drop=True)

    # Identificar los productos menos vendidos por tienda
    productos_menos_vendidos = ventas_por_tienda_producto.loc[
        ventas_por_tienda_producto.groupby('Tienda')['Ventas'].idxmin()
    ].reset_index(drop=True)

    return productos_mas_vendidos, productos_menos_vendidos

    # Agregar una columna para identificar la tienda
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Combinar todos los datos en un solo DataFrame
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Llamar a la función
productos_mas_vendidos, productos_menos_vendidos = calcular_mas_y_menos_vendidos(datos_combinados)

# Mostrar los resultados
print("Productos más vendidos por tienda:")
print(productos_mas_vendidos)

print("\nProductos menos vendidos por tienda:")
print(productos_menos_vendidos)

Productos más vendidos por tienda:
     Tienda                   Producto  Ventas
0  Tienda 1                    Armario      60
1  Tienda 2  Iniciando en programación      65
2  Tienda 3              Kit de bancas      57
3  Tienda 4                   Cama box      62

Productos menos vendidos por tienda:
     Tienda                   Producto  Ventas
0  Tienda 1  Auriculares con micrófono      33
1  Tienda 2              Juego de mesa      32
2  Tienda 3    Bloques de construcción      35
3  Tienda 4         Guitarra eléctrica      33

# 5. Envío promedio por tienda

In [20]:
# Agregar una columna "Tienda" a cada DataFrame
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Combinar todos los DataFrames en uno solo
datos_combinados = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Calcular el costo de envío promedio por tienda
costo_envio_promedio = datos_combinados.groupby('Tienda')['Costo de envío'].mean()

# Convertir el resultado a un DataFrame
costo_envio_promedio_df = costo_envio_promedio.reset_index()

# Renombrar las columnas para mayor claridad
costo_envio_promedio_df.columns = ['Tienda', 'Costo de Envío Promedio']

# Mostrar el resultado
print(costo_envio_promedio_df)

     Tienda  Costo de Envío Promedio
0  Tienda 1             26018.609580
1  Tienda 2             25216.235693
2  Tienda 3             24805.680373
3  Tienda 4             23459.457167

In [21]:
#utilizando funciones
import pandas as pd

def calcular_costo_envio_promedio(*dataframes):
    """
    Calcula el costo de envío promedio por tienda.

    Parámetros:
        *dataframes: Uno o más DataFrames que contienen los datos de las tiendas.
                     Cada DataFrame debe tener al menos las columnas 'Costo de envío' y 'Tienda'.

    Retorna:
        Un DataFrame con el costo de envío promedio por tienda.
    """
    # Combinar todos los DataFrames en uno solo
    datos_combinados = pd.concat(dataframes, ignore_index=True)

    # Calcular el costo de envío promedio por tienda
    costo_envio_promedio = datos_combinados.groupby('Tienda')['Costo de envío'].mean()

    # Convertir el resultado a un DataFrame
    costo_envio_promedio_df = costo_envio_promedio.reset_index()

    # Renombrar las columnas para mayor claridad
    costo_envio_promedio_df.columns = ['Tienda', 'Costo de Envío Promedio']

    return costo_envio_promedio_df

    # Agregar una columna "Tienda" a cada DataFrame
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

# Llamar a la función para calcular el costo de envío promedio
resultado = calcular_costo_envio_promedio(tienda, tienda2, tienda3, tienda4)

# Mostrar el resultado
print(resultado)

     Tienda  Costo de Envío Promedio
0  Tienda 1             26018.609580
1  Tienda 2             25216.235693
2  Tienda 3             24805.680373
3  Tienda 4             23459.457167